* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  border: solid 1px blue;
  width: 6%;
  margin: 8px;
}

body {
  height: 100vh;
}

/*---------- Header----------- */

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  padding-left: 10px;
  padding-right: 10px;
}

.flex-nav {
  display: flex;
  align-items: flex-end;
}

.flex-nav a,
h3 {
  padding: 15px;
  text-decoration: none;
  color: black;
}

/*---------- Welcome----------- */

.welcome {
  max-width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 29px;
  background-color: gray;
  height: 65vh;
  margin-bottom: 32px;
  border-radius: 46px;
}

.welcome-head {
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 10vh;
  padding-bottom: 20px;
}

.welcome-p {
  display: flex;
  justify-content: start;
  align-items: end;
  width: 70%;
  padding-top: 40px;
}

.fa-useur i {
  font-size: 80px;
  color: aliceblue;
}

.part-middle > button {
  border-radius: 18px;
  background-color: #5990bf;
  border: none;
  padding: 12px;
}

.part-btn {
  padding: 10px;
}

.part-btn > button {
  border-radius: 25px;
  background-color: #5990bf;
  border: none;
  padding: 9px;
}

.part-middle {
  width: 69%;
  padding: 10px;
}

.card-body {
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  padding: 7px;
}

.card-body img {
  border-radius: 17px 17px 0 0;
  width: 100%;
  height: max-content;
}

.content-card {
  display: flex;
  justify-content: space-between;
}

.card-col {
  display: flex;
}

.card-col > p {
  margin-left: 2px;
}

.card-col > i {
  margin-left: 10px;
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  margin-top: 12px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.cards img {
  border-radius: 17px 17px 0 0;
  width: 100%;
}

/*---------- Apropos----------- */

.pass {
  height: 10%;
}

footer {
  background-color: #5990bf;
  width: 100%;
  height: 9vh;
  text-align: center;
}

footer > p {
  padding-top: 22px;
  padding-bottom: 12px;
}
